*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-size: 26px;
  font-weight: bold;
}

body {
  font-family: Arial, monospace, monospace;
}

button {
  border: 2px solid black;
  border-radius: 5px;

  cursor: pointer;
}

h1 {
  text-align: center;
}

#calculator {
  background-color: lightgrey;
  
  width: fit-content;
  margin: auto;
  padding: 15px;
  
  border: 3px solid black;
  border-radius: 15px;
  
  display: flex;
  flex-direction: column;
}

#display-container {
  color: white;
  background-color: rgb(80, 80,80);
  overflow: hidden;
  text-overflow: ellipsis;
  
  border: 2px solid black;
  border-radius: 4px;

  width: 200px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

#display {
  width: 100%;
  padding-right: 5px;

  text-align: right;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#non-calculate {
  display: flex;
}

#digits-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#digits-container button {
  padding: 5px 12px;
  margin-bottom: 7px;
}

.digit {
  background-color: lightcyan;
}

.digit:hover {
  background-color: rgb(202, 231, 231);
}

.digit:active {
  background-color: rgb(178, 204, 204);
}

#decimal {
  background-color: rgb(14, 252, 252);

  width: 43px;
}

#decimal:hover {
  background-color: rgb(0, 230, 230);
}

#decimal:active {
  background-color: rgb(0, 204, 204);
}

#operators-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 15px;
}

/* #operators-container > button, */
.operator {
  background-color: rgb(221, 220, 134);

  padding: 5px 12px;
  margin: 1px;

  flex: 1 1 auto;
}

.operator:hover {
  background-color: rgb(189, 187, 109);
}

.operator:active {
  background-color: rgb(158, 156, 91);
}

#clear-backspace-equals-container {
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
}

#clear-backspace-equals-container button {
  padding: 5px 12px;
  margin: 1px;
}

#clear {
  background-color: rgb(255, 37, 37);
}

#clear:hover {
  background-color: rgb(230, 22, 22);
}

#clear:active {
  background-color: rgb(201, 15, 15);
}

#backspace {
  background-color: rgb(255, 182, 48);
}

#backspace:hover {
  background-color: rgb(233, 166, 43);
}

#backspace:active {
  background-color: rgb(202, 142, 29);
}

#equals {
  background-color: rgb(21, 241, 21);
}

#equals:hover {
  background-color: rgb(22, 206, 22);
}

#equals:active {
  background-color: rgb(16, 175, 16);
}

.inactive {
  opacity: 0.2;
}