
#calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: fit-content;
}

#display-container {
  border: 1px solid black;
}

#buttons {
  display: flex;
}

#clear-equals-container {
  display: flex;
  justify-content: space-between;
}

#operators-container {
  display: flex;
  flex-direction: column;
}

#operators-container > button {
  flex: 1 1 auto;
}

.inactive {
  opacity: 0.5;
}