* {
  font-size: 26px;
  font-weight: bold;
  box-sizing: border-box;
}

body {
  font-family: monospace, monospace;
}

button {
  border: 2px solid black;
  border-radius: 5px;

  cursor: pointer;
}

h1 {
  text-align: center;
}

#calculator {
  background-color: lightgrey;
  
  width: fit-content;
  margin: auto;
  padding: 15px;
  
  border: 3px solid black;
  border-radius: 15px;
  
  display: flex;
  flex-direction: column;
}

#display-container {
  color: white;
  background-color: rgb(80, 80,80);
  
  border: 2px solid black;
  border-radius: 4px;

  height: 40px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

#display {
  width: 100%;
  padding-right: 5px;

  text-align: right;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#non-calculate {
  display: flex;
}

#digits-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#digits-container button {
  padding: 5px 12px;
  margin-bottom: 7px;
}

.digit {
  background-color: lightcyan;
}

#decimal {
  background-color: cyan;

  width: 43px;
}

#operators-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 15px;
}

#operators-container > button {
  padding: 5px 12px;
  margin: 1px;

  flex: 1 1 auto;
}

#clear-backspace-equals-container {
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
}

#clear-backspace-equals-container button {
  padding: 5px 12px;
  margin: 1px;
}

#clear {
  background-color: red;
}

#backspace {
  background-color: orange;
}

#equals {
  background-color: green;
}

.inactive {
  opacity: 0.2;
}